.wrapper-carousel{
    display: flex;
    align-content: center;
    position: relative;
    padding-left: 10%;
    padding-right: 10%;
    .elements{
        display: flex;
        gap: 5rem;
        transition: transform 300ms ease-in-out;
    }
}