.access-button{
    width: 10rem;
    height: 3rem;
    background-color: #1e7c5f;
    border: none;
    border-radius: 3px;
    margin-top: 1.5rem;
    &:hover{
        cursor: pointer;
        transform: scale(1.03);
        transition: transform linear 100ms;
    }
}