.avatar-profile{
    background-image: url(../../../img/avatar-profile.png);
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 25rem;
    height: 25rem;
    margin: 0 auto;
}